* {
    box-sizing: border-box;
}

body {
    font-size: 32px;
    font-family: "https://fonts.google.com/specimen/Inter";    
}

h2 {
    text-align: center;
}
.slider-wrapper {
    padding: 2rem 0;
}
.bg-slider {
    position: relative;
    height: 400px;
}
.bg-slider .quote {
    width: 80px;
    height: 80px;
    position: absolute;
    /* display: inline-block; */
    top: 1.0vw;
    left: 9vw;
}

.quote img {
    margin: auto;
    max-width: 100%;
}

.curve {
    width: 50%;
    position: absolute;
    display: block;
    bottom: 0;
}

.curve img {
    width: 100%;
}

.blob {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
}

.blob img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.rating {
    position: relative;
    height: inherit;
    padding: 0;
}
.rating li {
    /* padding: 2rem; */
    list-style: none;
    margin: auto;
    height: inherit;

    display: block;
    position: absolute;
    width: 100%;
}
.rating .img {
    position: absolute;
    display: block;
    height: inherit;
    max-width: 100%;
    margin: auto;
    top: 0;
    right: 2rem;
}

.img img {
    margin: auto;
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
}

.content {
    position: absolute;
    display: flex;
    height: inherit;
    max-width: 60%;
    margin: auto;
    top: 0;
    left: 2rem;
    padding: 0;
    align-content: center;
}


.content .main-text {
    width: auto;
    margin: auto;
}
.main-text:first-child, .main-text:nth-child(3) {
    display: block;
    width: 100%;
    position: relative;
}
.identity {
    position: relative;
    display: block;
    margin-top: 1rem;
}
.identity:first-child, .name {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.identity:nth-child(3), .title {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: .5;
}

.rating-controls {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    right: 35vw;
    z-index: 9;
    padding: 1.0rem;
    padding-right: 1rem;
    background: white;
    border-radius: 50px;
    box-shadow:  -6px 6px 12px #bcbcbc,
             6px -6px 12px #ffffff;
}
.rating-controls > div {
    display: inline-block;
}
.rating-controls .l-arrow {
    padding-right: 1.5rem;
}